Introduction to variables

In [ ]:
a=10
height=5.4
name="Toqeer"
age=24
is_toqeer=True
print('name',name)
print('age',age)
print('height',height)
 
#valid variables name
first_name="Toqeer"
last_name="Muhammad"

print(f"Name {first_name},Given {last_name}")

In [ ]:
age=21
print(age)
str_age=str(age)
print(str_age)

In [ ]:
result="hello"+ str(5)
print(result)

In [ ]:
#Arthmetic Operations
a=10
b=5
addition=a+b
diff=a-b
product=a*b

print(addition)

In [ ]:
#conditional statement and nested if statement
# a=3

# if a>10:
#     print("True ")
# elif a>15:
#     print("Yes True")
# elif a>=20:
#     print("20")
# else:
#     print("Error")
    
#check is leap year or no

enter_year=int(input("Enter a Year"))

if enter_year%4==0:
    if enter_year%100==0:
        if enter_year%400==0:
            print("Leap year")
        else:
            print("not leap year")
    else:
        print("leap year")
                
            

else:
    print("not leap year")

#Loop
Nested Loops

In [ ]:
def generate_square(s):
    
    list=[]
    for i in range(s):
        list.append('*'*s)
    return list
     
print(generate_square(4))

In [ ]:
def generate_square(s):
    result = []
    for i in range(s):
        result.append('*' * s)
    return result

print(generate_square(4))

In [ ]:
def generate_square(n):
   square=[]
   
   for i in range(n):
       square.append('*'*n)
   return square
    
generate_square(2)

In [47]:
def cal_sum_nat():
    n = 1        # start from 1
    total = 0    # store sum
    
    while n <= 10:
        total += n   # total = total + n
        n += 1       # increment n
    
    print("Sum of first 10 Natural Numbers:", total)
    print("number of first 10 Natural Numbers:", n)
    

cal_sum_nat()

Sum of first 10 Natural Numbers: 55
number of first 10 Natural Numbers: 11

In [53]:
#calculate sum of first N natural Number using for loop
def cal_sum_N():
    n = 10
    total = 0
    
    for i in range(1, n+1):
        total =total + i  # total = total + i
    
    print("Sum of first", n, "Natural Numbers:", total)

cal_sum_N()

Sum of first 10 Natural Numbers: 55