In [ ]:
def greet(name):
    return name

greet("Toqeer")

In [ ]:
def add(a,b):
    return a+b


add(3,5)

In [ ]:


def print_name(*args):
    for name in args:
        print(name)
#positional argunments

print_name(1,2,3,4,5,6,6,'TIGER')

In [ ]:
#keywords  arguments

def print_detail(**kwargs):
    for key,value in kwargs.items():
        
        print(f"{key}:{value}")

In [ ]:
print_detail(name="Toqeer",age="22",country="Pakistan")

In [ ]:
def print_detail(*args,**kwargs):
    for name in args:
        print(f" positional:{name}")
    
    for key,value in kwargs.items():
        
        print(f"{key}:{value}")

In [ ]:
print_detail(1,2,3,4,5,6,6,'TIGER',name="Toqeer",age="22",country="Pakistan")

In [ ]:
def converter(temp, unit):
    """Convert temperature between Celsius and Fahrenheit"""
    
    unit = unit.lower()
    
    if unit == "c":
        return temp * 9/5 + 32
    elif unit == "f":
        return (temp - 32) * 5/9
    else:
        return "Invalid unit"

In [ ]:
print(converter(0, "C"))   # 32.0
print(converter(32, "F")) # 0.0
print(converter(100, "c")) # 212.0

# Password strength Checker

In [ ]:
def password_check(password):
    """This function is used to check password is strong or no"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    
    if not any(char.isupper() for char in password):
        return False
    
    if not any(char in '!@#$%^&*()+' for char in password):
        return False
    
    return True

In [ ]:
print(password_check('Toqeer@@3802'))
print(password_check('Toqeer3802'))
print(password_check('Toqeer@@'))

# calculate the Total cost of items

In [ ]:
def calculate_cost(cart):
    
    total_cost=0
    
    for item in cart:
        
        total_cost+=item['Price']*item['Quantity']
        
    return total_cost


cart=[
    {
        "name":"Banana","Price":10,"Quantity":10
    },
    
    {
        "name":"Banana","Price":20,"Quantity":10
    },
    
    {
        "name":"Banana","Price":30,"Quantity":10
    }
    
    
]



total_cost=calculate_cost(cart)

print(total_cost)

# check if string palindrome or not

In [ ]:
def palindrome(s):
    s=s.lower().replace("","")
    
    return s==s[::-1]


print(palindrome('A  man a plan a canal Panama'))

print(palindrome('Hello'))

In [ ]:
## calculate factorial

def factorial(n):
    
    if n==0:
        return 1
    else:
       return n*factorial(n-1)
    
    
print(factorial(3))

In [ ]:
# create a function to read file and calculate the frequency
def cal_fr(file_path):
    words_count={}
    
    with open (file_path,'r') as file:
        
        for line in file:
            words=line.split()
            for word in words:
                word =word.lower().strip('.,!/;"?"\'')
                words_count[word]=words_count.get(word,0)+1
    return words_count


cal_fr('sample.txt')

In [ ]:
import re

def is_valid_email(email):
    """Check if email is valid"""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None

print(is_valid_email('toqeer3892@gmail.com'))

print(is_valid_email('toqeer3892@gm'))

# Lambda Function and MAP function

#addition of three numer

In [ ]:
numbers=[1,2,3,4,5,6]
list(map(lambda x:x*x,numbers))

Map Function

In [ ]:
num1=[1,2,3]
num2=[1,3,5]

list(map(lambda x,y:x+y,num1, num2))

In [ ]:
words=['apples','banana','grapes']

list(map(str.upper,words))

In [ ]:
def get_name(person):
    return person['name']

people=[
    {
        "name":"Toqeer","Age":"25"
    }
]
list(map(get_name,people))

Filter